<div class="left-sidebar-pro" xmlns:th="http://www.thymeleaf.org" style="background: #715EE7">
    <nav id="sidebar" class="" style="background: #715EE7">
        <div class="sidebar-header">
            <a th:href="@{/}"><img class="main-logo" th:src="@{/img/logo/logo.png}" alt=""/></a>
            <strong><img src="img/logo/logosn.png" alt=""/></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar" style="background: #715EE7">
            <nav class="sidebar-nav left-sidebar-menu-pro" style="background: #715EE7">
                <ul class="metismenu" id="menu1" style="background: #715EE7">


                    <li th:unless="${@userService.findRoleIdByUsername(#authentication.name) != 3}"><a title="Home" th:href="@{/student/schedule}" aria-expanded="false" style="background: #715EE7"><i
                            class="fa big-icon fa-calendar-o icon-wrap sub-icon-mg" aria-hidden="true"></i> <span
                            class="mini-click-non" style="color: #FFFFFF">My Schedule</span></a></li>
                    <li th:unless="${@userService.findRoleIdByUsername(#authentication.name) != 2}"><a title="Home" th:href="@{/teacher/schedule}" aria-expanded="false" style="background: #715EE7"><i
                            class="fa big-icon fa-calendar-o icon-wrap sub-icon-mg" aria-hidden="true"></i> <span
                            class="mini-click-non" style="color: #FFFFFF">My Schedule</span></a></li>
                    <li th:unless="${@userService.findRoleIdByUsername(#authentication.name) != 3}"><a title="Categories" th:href="@{/student/lectures}" aria-expanded="false" style="background: #715EE7"><i
                            class="fa big-icon fa-book icon-wrap sub-icon-mg" aria-hidden="true"></i> <span
                            class="mini-click-non">My Courses</span></a></li>
                    <li th:unless="${@userService.findRoleIdByUsername(#authentication.name) != 2}"><a title="Categories" th:href="@{/teacher/lectures}" aria-expanded="false" style="background: #715EE7"><i
                            class="fa big-icon fa-book icon-wrap sub-icon-mg" aria-hidden="true"></i> <span
                            class="mini-click-non">My Lectures</span></a></li>
                    <li th:unless="${@userService.findRoleIdByUsername(#authentication.name) != 1}"><a title="Categories" th:href="@{/shedule}" aria-expanded="false" style="background: #715EE7"><i
                            class="fa big-icon fa-calendar-o icon-wrap sub-icon-mg" aria-hidden="true"></i> <span
                            class="mini-click-non">Schedule</span></a></li>
                    <li th:unless="${@userService.findRoleIdByUsername(#authentication.name) != 1}"><a title="Categories" th:href="@{/schedule/times}" aria-expanded="false" style="background: #715EE7"><i
                            class="fa big-icon fa-clock-o icon-wrap sub-icon-mg" aria-hidden="true"></i> <span
                            class="mini-click-non">Schedule Times</span></a></li>
                    <li th:unless="${@userService.findRoleIdByUsername(#authentication.name) != 1}"><a title="Categories" th:href="@{/subjects}" aria-expanded="false" style="background: #715EE7"><i
                            class="fa big-icon fa-book icon-wrap sub-icon-mg" aria-hidden="true"></i> <span
                            class="mini-click-non">Subjects</span></a></li>





                </ul>
            </nav>
        </div>
    </nav>
</div>